<!DOCTYPE html>
<html>
<head>
  <title>Tarea</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
   <nav>
      <a href = "{{ url_for('show_all') }}">mostrar todos los ejercicios</a> |
      <a href = "{{ url_for('new') }}">Agregar tarea</a>
   </nav>
      <section>
      <h3>Tarea</h3>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "nombre">Nombre</label>
         <input type = "text" name = "nombre" placeholder = "Nombre" /><br>
         <label for = "codigo">Codigo</label>
         <input type = "text" name = "codigo" placeholder = "Codigo" /><br>
         <label for = "ejercicio">Ejercicio</label>
         <textarea name = "ejercicio" placeholder = "Ejercicio"></textarea><br>
         <label for = "descripcion">Descripcion</label>
         <input type = "text" name = "descripcion" placeholder = "Descripcion" /><br>
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>
